* {
  box-sizing: border-box;
}

main {
  flex: 1;
}

.site-container {
  min-height: 100vh;
}

.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}
.btn-primary {
  background-color: #f0c040;
  color: #000000;
}
.img-large {
  max-width: 100%;
}
/* .product {
  border: 1px solid #404040;
  margin: 1rem;
} */
/* .product img {
  width: 100%;
  max-width: 35rem;
} */
/* .product-info {
  padding: 2rem;
}
.product-info p {
  margin-bottom: 1rem;
} */
